@import "../scss/01-variables";

.sources {
    list-style: none;
    font-size: 0.75rem;
    line-height: 1.2;
    padding: 0;
    margin-bottom: 1rem;
}

.source {
    margin-bottom: 0.5rem;
    > a {
        word-break: break-all;
        color: $metaColor;
        &:hover,
        &:active {
            color: $linkColor;
        }
    }
}