@import "./scss/01-variables";
// Initial setup
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bgColor;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.425;
  font-family: $txtFontStack;
  color: $txtColor;
}

a {
  color: $linkColor;
}

h1, h2, h3, h4, h5 {
  font-family: $headingFontStack;
}

.container {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}

.loading {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: transparent;
}